@charset "UTF-8";

@font-face {
    font-family: 'arialbold';
    src: url('arialbd-webfont.eot');
    src: url('arialbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('arialbd-webfont.woff') format('woff'),
         url('arialbd-webfont.ttf') format('truetype'),
         url('arialbd-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
}

body {
    font-family: arial;
    font-size: 12px;
    line-height: 14px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

p {
    color: #959595;
    line-height: 18px;
    margin-bottom: 10px;
}

.clear {
	clear: both;
}

h1 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}

h2 {	
    font-size: 14px;
    line-height: 16px;
}

h3 {
    font-size: 12px;
    line-height: 14px;
}

.container {
	width: 990px;
	margin: 0 auto;
}

#header {
    height: 64px;
    margin-bottom: 40px;
    padding-top: 12px;
    border-bottom: 1px solid #bbccff;
    background: #ccddff;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #ccddff),
        color-stop(1, #dbe7ff));
    background: -o-linear-gradient(top, #ccddff 0%, #dbe7ff 100%);
    background: -moz-linear-gradient(top, #ccddff 0%, #dbe7ff 100%);
    background: -webkit-linear-gradient(top, #ccddff 0%, #dbe7ff 100%);
    background: -ms-linear-gradient(top, #ccddff 0%, #dbe7ff 100%);
    background: linear-gradient(to top, #ccddff 0%, #dbe7ff 100%);
}

.logo-searchWrap {
    width: 690px;
    float: left;
}

.logo {
    width: 137px;
    height: 35px;
    display: block;
    float: left;
    margin-top: 7px;
    text-indent: -5000px;
    background: url(../images/schoolLogo.png) no-repeat;
}

.searchInfo {
    width: 460px;
    float: right;
}

.searchInfo ul {
    margin-bottom: 6px;
    /*overflow: hidden;*/
}

.searchInfo ul li {
    float: left;
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color: #2255aa;
    font-weight: bold;
    margin-right: 20px;
    text-shadow: 0px 1px 0px #ffffff;
}

.searchInfo ul li a {
    color: #2255aa;
    font: arial 14px;
}

.searchInfo .searchFeild{
    width: 460px;
}

.searchFeild .searchBox {
    width: 358px;
    border: 1px solid #d2d5e9;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    color: #d2d5e9;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 6px;

}

.Button {
    width: 90px;
    margin-left: -5px;
    border: 1px solid #2255aa;
    background: #2255aa;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2255aa),
        color-stop(1, #4772b8));
    background: -o-linear-gradient(top, #2255aa 0%, #4772b8 100%);
    background: -moz-linear-gradient(top, #2255aa 0%, #4772b8 100%);
    background: -webkit-linear-gradient(top, #2255aa 0%, #4772b8 100%);
    background: -ms-linear-gradient(top, #2255aa 0%, #4772b8 100%);
    background: linear-gradient(to top, #2255aa 0%, #4772b8 100%);
    color: #ffffff;
    text-shadow:-1px -1px 1px #2255aa;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 0;
    cursor: pointer;   
}

.headerRightBtns{
    float: right;
    margin-top: 25px;
}

ul.registerLoginBtn, ul.registerLoginBtn li, ul.socialBtn, ul.socialBtn li {
    float: left;
}

.headerRightBtns ul.registerLoginBtn{
    /*float: left;*/
    font-family: 'arialbold', arial;
    font-size: 14px;
    font-weight: bold;
    color: #2255aa;
    text-shadow: 1px 1px 1px #ffffff;
}

ul.registerLoginBtn li{
    /*float: left;*/
    margin-right: 16px;
}

ul.registerLoginBtn li a{
    color: #2255aa;
}

.headerRightBtns ul.socialBtn{
    /*float: left;*/
}

ul.socialBtn li{
    /*float: left;*/
    margin-left: 5px;
}

ul.socialBtn li a {
    display: block;
    width: 21px;
    height: 21px;
    text-indent: -5000px;
}

ul.socialBtn li a.twIcon {
    background: url(../images/twIcon.png) no-repeat;
}

ul.socialBtn li a.fbIcon {
    background: url(../images/fbIcon.png) no-repeat;
}

/**************************Header Ends*********************************/

.leftCol {
    width: 209px;
    float: left;
    border-right: 1px solid #e5e5ee;
    margin:0 20px 20px 0;
}

a.profileInfo{
    display: block;
    margin-bottom: 15px;
}

.ProfileImgWrap{
    width: 209px;
    height: 178px;
    border-bottom: 1px solid #e5e5ee;
    margin-bottom: 20px;
}

.ProfileImgWrap img{
    max-width: 209px;
    max-height: 178px;
}

.profileName {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #2255aa;   
}

.fanFollowWrap {
    margin-bottom: 18px;
}

.fanClub {
    float: left;
    margin-right: 5px;
}

.fanClub .fanFollowLink, .fanClub .fanFollowNo {
    display: block;
    float: left;
    text-align: center;
}

.fanClub .fanFollowLink {    
    padding:4px 6px;
    border: 1px solid #2255aa;
    border-radius: 4px;
    background: #2255aa;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2255aa),
        color-stop(1, #4872b9));
    background: -o-linear-gradient(bottom, #2255aa 0%, #4872b9 100%);
    background: -moz-linear-gradient(bottom, #2255aa 0%, #4872b9 100%);
    background: -webkit-linear-gradient(bottom, #2255aa 0%, #4872b9 100%);
    background: -ms-linear-gradient(bottom, #2255aa 0%, #4872b9 100%);
    background: linear-gradient(to bottom, #2255aa 0%, #4872b9 100%);
    color: #ffffff;
    text-shadow: 1px -1px 0px #2255aa;    
    font-weight: bold;    
}

.fanClub .fanFollowNo {
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: url(../images/Info.png) no-repeat;
}

.userInfo {
    margin-bottom: 16px;
    line-height: 18px;
}

.userInfo h3 {
    margin-bottom: 5px;
}

.userInfo span, .userInfo a {
    color: #2255aa; 
}

.userInfo p {
    margin-right: 10px;  
}

ul.verticalMenu {
    margin: 8px 0 20px;
}

ul.verticalMenu li {
    padding-left: 24px;
    border-top: 1px solid #e5e5ee;
    font-weight: bold;
    color: #2255aa;
    line-height: 29px;
    position: relative;
}

ul.verticalMenu li.overview {
    background: url(../images/overview.png) no-repeat 5px center;
}

ul.verticalMenu li.Faculty {
    background: url(../images/Faculty.png) no-repeat 5px center;
}

ul.verticalMenu li.Infrastructure {
    background: url(../images/infrastructure.png) no-repeat 5px center;
}

ul.verticalMenu li.Teaching {
    background: url(../images/teach-method.png) no-repeat 5px center;
}

ul.verticalMenu li.exPrgm {
    background: url(../images/student-prgm.png) no-repeat 5px center;
}

ul.verticalMenu li.Location {
    background: url(../images/overview.png) no-repeat 5px center;
}

ul.verticalMenu li.Curriculum {
    background: url(../images/curriculam.png) no-repeat 5px center;
}

ul.verticalMenu li.Global {
    background: url(../images/overview.png) no-repeat 5px center;
}

ul.verticalMenu li.Corporate {
    background: url(../images/corporate.png) no-repeat 5px center;
}

ul.verticalMenu li.Alumni {
    background: url(../images/alumini.png) no-repeat 5px center;
}

ul.verticalMenu li.Board-Gov {
    background: url(../images/board-gov.png) no-repeat 5px center;
}

ul.verticalMenu li.Placement {
    background: url(../images/placement.png) no-repeat 5px center;
}

ul.verticalMenu li a {
    color: #2255aa;
    line-height: 29px;
}

ul.verticalMenu li span {
    width: 8px;
    height: 14px;
    position: absolute;
    top: 7px;
    right: 5px;
    background: url(../images/ListArrow.png) no-repeat;
}

.factsFiguresWrap {
    margin-bottom: 18px;
}

.factsFiguresWrap h2, .facultyProfile h2, .headingBg, .rightCol h2 {
    background: #ccddff;
    height: 29px;
    padding-left: 10px;
    border-bottom: 1px solid #bbccff;
    box-shadow: inset 0 -1px 0 #ffffff;
}

.factsFiguresWrap h2, .facultyProfile h2, .rightCol h2 {
    line-height: 29px;
}

.factsFiguresWrap .listUp, .factsFiguresWrap .listDown {
    background: #f5f5f5;
    height: 29px;
    border-bottom: 1px solid #e5e5ee;
    box-shadow: inset 0 -1px 0 #ffffff;
}

.factsFiguresWrap .listUp {
    box-shadow: inset 0 -1px 0 #ffffff;
}

.factsFiguresWrap .listDown {
    box-shadow: inset 0 1px 0 #ffffff;
}

.factsFiguresWrap .listUp span {
    width: 14px;
    height: 9px;
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
    background: url(../images/ListUpIcon.png) no-repeat;
}

.factsFiguresWrap .listDown span {
    width: 14px;
    height: 9px;
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
    background: url(../images/ListDownIcon.png) no-repeat;
}

.factsFiguresWrap ul{}

.factsFiguresWrap ul li.packegeList {
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #e5e5ee;
    color: #959595;
    position: relative;
}

.factsFiguresWrap ul li a {
    color: #959595;
}

li.packegeList li.innerList {
    font-weight: normal;
    position: relative;
}

.figures {
    font-weight: 800;
    color: #000000;
    position: absolute;
    top: 2px;
    right: 5px;
}

.facultyProfile {
    margin-bottom: 25px;
}

.facultyProfile ul {
    padding: 9px 0px 0 0;
}

.facultyProfile ul li {
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid #e5e5ee;
    margin-left: 2px;
}

.facultyProfile ul li img {
    max-width: 48px;
    max-height: 48px;
}


/**************************leftCol Ends*********************************/


.contentCol {
    width: 760px;
    float: right;    
}

.contentCol a {
    color: #2255aa;
}

.contentCol .usercontent {
    width: 460px;
    float: left;
    margin-right: 20px;
}

ul.tablist {
   margin-bottom: 15px;
}

ul.tablist li.tabs {
    float: left;
    margin:3px 5px 0 0;
    border: 1px solid #bbccff;
    border-bottom: none;
    background: #ffffff;
}

ul.tablist li.tabs a{
    margin-top: 3px;
    padding: 5px 8px 4px;
    line-height: 25px;
    text-align: center;
    color: #2255aa;
}

ul.tablist li.tabs a.active {
    /*border-bottom: 1px solid #ffffff;*/
    color: #000000;
    line-height: 26px;
}

.usercontent ul.userComentsList {

}

.usercontent ul.userComentsList li.userComent {
    
}

.usercontent ul.userComentsList li.mainList {
    margin-bottom: 15px;
    padding:0 5px 10px 0;
    border-bottom: 1px solid #e5e5ee;
}

.schoolProfileImg {
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 9px;
    border: 1px solid #d2d5e9; 
}

.schoolProfileImg img {
    max-width: 34px;
    max-height: 34px;
}

.userComentsInfo {
    width: 404px;
    float: left;
}

.userComentsInfo .username {
    margin-bottom: 8px;
}

.userComentsInfo .username/*, .userComentsInfo a*/ {
    color: #2255aa;
}

.userComentsInfo .InnerList {
    width: 330px;
    float: left;
}

.userComentsInfo span {
    color: #bbbbbb;
}

/*.userComentsInfo p {
    color: #959595;
    line-height: 18px;
    margin-bottom: 10px;
}*/

li.userComent .UserProfileImg {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 9px;
    border: 1px solid #d2d5e9; 
}

.UserProfileImg img {
    max-width: 50px;
    max-height: 50px;
}

.commentInfo {
    margin-bottom: 10px;
}

.commentTime {
    display: block;
    float: left;
}

.pplLike {
    display: block;
    float: right;
    background: url(../images/fbLikeIcon.png) no-repeat;
    padding: 0 5px 0 20px;
}

.fbPost {
    background: url(../images/facebookIcon.png) no-repeat ;
    padding:0 10px 0 24px;
}

.twPost {
    background: url(../images/twitterIcon.png) no-repeat ;
    padding:0 10px 0 24px;
}

.contentCol .rightCol {
    width: 260px;
    float: left;
    padding: 0 0 0 18px;
    border-left: 1px solid #e5e5ee;
}

.rightCol h2 {
    margin-bottom: 15px;
}

.rightCol span {
    color: #959595;
}

ul.schoolList {
    margin-bottom: 25px;
}

ul.schoolList li {
    margin-bottom: 10px;
}

ul.schoolList li .schoolLogoImg {
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 9px;
    border: 1px solid #d2d5e9; 
}

.schoolLogoImg img {
    max-width: 34px;
    max-height: 34px;
}

ul.schoolList li .schoolName {
    width: 215px;
    float: left;
    line-height: 18px;
}

.Apply {
    margin-bottom: 15px;
}

.Apply .Button {
    display: block;
    float: left;
    margin:0 6px 0 0;
    /*padding:8px;*/
    color: #ffffff;
}

.Apply span {
    display: block;
    float: left;
    line-height: 32px;
}

.weekTip {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
}

.WeekTipBtn {
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5ee;
}

.WeekTipBtn .Button {
    width: auto;
    display: block;
    padding:8px;
    margin: 0 70px;
    color: #ffffff;
}

.powerBy {
}

.powerBy span {
    line-height: 16px;
}



/**************************contentCol Ends*********************************/

.footer {
    height: 80px;
    border-top: 1px solid #e5e5ee;
    background: #2255aa;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #f9f9fc),
        color-stop(1, #f9f9fc));
    background: -o-linear-gradient(bottom, #f9f9fc 0%, #f9f9fc 100%);
    background: -moz-linear-gradient(bottom, #f9f9fc 0%, #f9f9fc 100%);
    background: -webkit-linear-gradient(bottom, #f9f9fc 0%, #f9f9fc 100%);
    background: -ms-linear-gradient(bottom, #f9f9fc 0%, #f9f9fc 100%);
    background: linear-gradient(to bottom, #f9f9fc 0%, #f9f9fc 100%);
}

ul.footerMenu, ul.footerMenu li, .copyright ul.footerSubMenu, ul.footerSubMenu li, .copyrightYear {
    float: left;
}

ul.footerMenu li, ul.footerMenu li a, ul.footerSubMenu li, ul.footerSubMenu li a {
    color: #2255aa;
}

ul.footerMenu {
    margin-top: 20px;
}

ul.footerMenu li {
    margin-right: 15px; 
    font-size: 14px;
    line-height: 16px;    
}

.copyright {
    float: right;
    margin-top: 20px;
}

.copyright ul.footerSubMenu {}

ul.footerSubMenu li {
    margin-right: 13px;
}

.copyright .copyrightYear {
    color: #959595;
}



ul li.clear{
    float: none;
    clear: both;
    border: none;
    margin: 0;
    padding: 0;
}

.facultyProfile ul li.clear {
    width: 0;
    height: 0;
    float: none;
    clear: both;
    border: none;
}