@charset "UTF-8";

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
	margin: 0;
	padding: 0;
}

body{
	background: url(../images/body-bg.jpg) repeat;
	color: #444444
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

img{
	border: none;
}

.clear{
	clear: both;
}

h1, h2{
	font-family: 'ubuntubold';
	font-weight: normal;
}

h1{	
	font-size: 40px;
	line-height: 40px;
	color: #ffffff;
}

h2{
	font-size: 36px;
	line-height: 38px;
	color: #444444;
}

.container{
	width: 940px;
	margin: 0 auto;
}

#header{
	height: 49px;
	background: url(../images/headerBg.jpg) repeat-x;
	border-bottom: 1px solid #000000;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
	position: relative;
	z-index: 100;
}

.logo{
	width: 113px;
	height: 34px;
	display: block;
	float: left;
	margin-top: 7px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -5000px;
}

.buttonWrap{
	float: right;
}

.signinBtn, .getStartedBtn{
	display: block;
	float: left;
	padding: 0 14px;
	font-family: arial;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	line-height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.9);
	border-radius:15px;
	box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.4);
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.5);
}

.signinBtn{	
	margin:8px 16px 0 0;
	background: #33aaee;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#81cbf5), to(#33aaee));
	background: -webkit-linear-gradient(top, #81cbf5, #33aaee);
	background: -moz-linear-gradient(top, #81cbf5, #33aaee);
}

.getStartedBtn{
	margin:8px 0 0 0;
	background: #dd8800;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7ab4a), to(#dd8800));
	background: -webkit-linear-gradient(top, #e7ab4a, #dd8800);
	background: -moz-linear-gradient(top, #e7ab4a, #dd8800);
}

.signinBtn:hover{	
	background: #33aaee;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#33aaee), to(#81cbf5));
	background: -webkit-linear-gradient(top, #33aaee, #81cbf5);
	background: -moz-linear-gradient(top, #33aaee, #81cbf5);
}

.getStartedBtn:hover{
	background: #dd8800;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd8800), to(#e7ab4a));
	background: -webkit-linear-gradient(top, #dd8800, #e7ab4a);
	background: -moz-linear-gradient(top, #dd8800, #e7ab4a);
}

.banner{
	padding: 47px 0 30px 0;
	margin-bottom: 30px;
	background: url(../images/bannerBg.jpg) repeat;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6)
}

.banner h1{
	text-align: center;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
}

.banner .bannerImgWrap{
	width: 940px;
	height: 290px;
	background: url(../images/bannerVisualCopy.png) no-repeat;
	margin-bottom: 11px;
}

/*.banner .bannerImgWrap img{
	max-width: 917px;
	max-height: 263px;
}*/

.banner .bannerPunchLine{
	margin-bottom: 45px;
}

.banner .text, .banner .boldText{
	font-size: 24px;
	color: #ffffff;
	line-height: 26px;
	text-align: center;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}

.banner .text{
	display: block;
	font-family: 'ubuntulight';
}

.banner .boldText{
	font-family: 'ubuntumedium';
}

.banner .bannerGetStartedWrap{
	height: 65px;
	background: url(../images/signUpBgBorder.png) repeat-x left 31px;
}

.banner .bannerGetStartedWrap .getStartedBtn{
	width: 300px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 26px;
	line-height: 26px;
	padding: 18px 0;
	border: 2px solid #0976b5;
	border-radius: 40px;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.9), 0px 2px 6px rgba(0, 0, 0, 0.2);
	float: none;
}

.Ideacontent-signUpwrap{
	width: 940px;
	margin: 0 auto;
	margin-bottom:47px; 
	padding-bottom: 30px;
	border-bottom: 1px solid #cfcfcf; 
}

.Ideacontent-signUpwrap .Ideacontent{
	width: 540px;
	float: left;
	margin-right: 40px;
	padding-top: 40px;
}

.Ideacontent-signUpwrap .Ideacontent h2{
	margin-bottom: 30px;
}

.Ideacontent-signUpwrap .para{
	width: 515px;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 36px;
}

.Ideacontent-signUpwrap .paraBold{
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
}

.Ideacontent-signUpwrap .para, .Ideacontent-signUpwrap .paraBold{
	font-family: arial;
	color: #444444;
}

.Ideacontent-signUpwrap .Ideacontent h2, .Ideacontent-signUpwrap .para, .Ideacontent-signUpwrap .paraBold{
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.9);
}

.Ideacontent-signUpwrap .SignUpContent{
	width: 260px;
	float: left;
	margin-right: 60px;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
	background: #ffffff;
}

.Ideacontent-signUpwrap .SignUpContent h3, .Ideacontent-signUpwrap .SignUpContent .free{
	font-family: 'ubuntulight';
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 15px;
	font-weight: normal;
}

.Ideacontent-signUpwrap .SignUpContent .free{
	font-family: 'ubuntumedium';
}

.Ideacontent-signUpwrap .SignUpContent .facebookBtn{
	width: 260px;
	height: 37px;
	display: block;
	margin-bottom: 16px;
	background: url(../images/facebookBtn.png) no-repeat center center;
}

/*.Ideacontent-signUpwrap .SignUpContent .orImg{
	width: 268px;
	height: 29px;
	background: url(../images/OR.png) no-repeat center center;
	margin-bottom: 9px;
}*/

.Ideacontent-signUpwrap .SignUpContent .orTextWrap{
	width: 260px;
	height: 1px;
	border-bottom: 1px solid #e6e6e6;
	margin:24px 0;
	position: relative;
}

.Ideacontent-signUpwrap .SignUpContent .orText{
	width: 35px;
	height: 29px;
	font-family: 'ubuntumedium';
	font-size: 13px;
	line-height: 29px;
	text-align: center;
	position: absolute;
	left: 111px;
	top: -12px;
	background: #ffffff;
}

.Ideacontent-signUpwrap .SignUpContent form{
	margin-bottom:0px;
}

.Ideacontent-signUpwrap .SignUpContent form input{
	width: 238px;
	height: 29px;
	line-height: 29px;
	border: 1px solid #cccccc;
	border-radius:4px;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding: 0 10px;
	font-size: 15px;
	color: #bbbbbb;
}

.Ideacontent-signUpwrap .SignUpContent .terms{
	padding:0 5px;
	margin-bottom: 20px;
	font-family: arial;
	line-height: 18px;
	font-size: 13px;
	color: #888888;
}

.Ideacontent-signUpwrap .SignUpContent .terms a{
	color: #333333;
}

.Ideacontent-signUpwrap .SignUpContent .signUpBtn{
	display: block;
	width: 258px;
	height: 36px;
	background: url(../images/signUpBg.png) repeat-x;
	border: 1px solid #222222;
	border-radius: 4px;
	box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.3);
	text-align: center;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	line-height: 36px;
	cursor:pointer;
}

.ShareistFaqs{
	border-bottom: 1px solid #cfcfcf;
	width: 940px;
	margin: 0 auto;
	margin-bottom:45px;
	text-shadow:1px 1px 1px rgba(255, 255, 255, 0.9);
}

.ShareistFaqs h2{
	margin-bottom: 40px;
	text-align: center;
}

.ShareistFaqs ul{
	margin-left: -20px;
	padding-bottom:28px;
}

.ShareistFaqs ul li{
	width: 460px;
	float: left;
	margin:0 0 20px 20px;
	font-family: 'ubunturegular';
	color: #444444;
}

.ShareistFaqs ul li .icon{
	width: 52px;
	height: 52px;
	float: left;
	margin-right: 20px;
	background-position: center center; 
}

.ShareistFaqs ul li .writer{
	background: url(../images/img1writer.png) no-repeat;
}

.ShareistFaqs ul li .Blogger{
	background: url(../images/img2Blogger.png) no-repeat;
}

.ShareistFaqs ul li .Teacher{
	background: url(../images/img3Teacher.png) no-repeat;
}

.ShareistFaqs ul li .MOM{
	background: url(../images/img4MOM.png) no-repeat;
}

.ShareistFaqs ul li .Expert{
	background: url(../images/img5Expert.png) no-repeat;
}

.ShareistFaqs ul li .Affiliate{
	background: url(../images/img6Affiliate.png) no-repeat;
}

.ShareistFaqs ul li .faqsContentWrap{
	width: 380px;
	float: left;
	padding-top: 10px;
}

.ShareistFaqs ul li .faqsContentWrap .faqsQ{
	font-family:arial, helvetica;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 10px;
}

.ShareistFaqs ul li .faqsContentWrap .faqsAns{
	font-family: arial, helvetica;
	font-size: 13px;
	line-height: 18px;
	color: #666666;
	text-align: justify;
}

.footer{
	width: 130px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/footerBg.png) repeat-x;
	border-radius: 6px;
	margin-bottom: 40px;
}

.footer span{
	font-family: arial;
	font-size: 9px;
	color: #ffffff;
	text-align: center;
}

ul li.clear{
	float: none;
	clear:both;
	margin: 0;
}




